<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Families</title>
</head>


<body>

  <div class="row text-center">
    <h1>Families in this Route</h1>
  </div>
  <div>
    <h4 class="col-xs-3">Head of House</h4>
    <h4 class="col-xs-2 col-offset-3"><%= (Time.now - 3.month).strftime("%b") %></h4>
    <h4 class="col-xs-2 col-offset-5"><%= (Time.now - 2.month).strftime("%b") %></h4>
    <h4 class="col-xs-2 col-offset-7"><%= (Time.now - 1.month).strftime("%b") %></h4>
    <h4 class="col-xs-2 col-offset-9"><%= Time.now.strftime("%b") %></h4>
  </div>
  <div>
    <% @families.each do |family| %>
      <li class="col-xs-3">
        <%= link_to "#{family.members.first.preferred_name}", family_path(family.id) %>
    	  <%# family.members.first.preferred_name %>
      </li>
      <li class="col-xs-2 col-offset-3">
        <input type="checkbox">
      </li>
      <li class="col-xs-2 col-offset-5">
        <input type="checkbox">
      </li>
      <li class="col-xs-2 col-offset-7">
        <input type="checkbox">
      </li>
      <li class="col-xs-2 col-offset-9">
        <input type="checkbox">
      </li>

    <% end %>
  </div>

</body>
</html>



